<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="200" class="perspective-tab">
            <label>Perspective</label>
        </tab>
        <section id="perspective_cashiercheckout"
                 translate="label"
                 type="text"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1"
                 sortOrder="180">
            <class>separator-top</class>
            <label>Checkout</label>
            <tab>perspective</tab>
            <resource>Perspective_CashierCheckout::perspective_cashiercheckout_config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1">
                <label>Checkout</label>
                <field id="websites"
                       translate="label"
                       type="multiselect"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       canRestore="1">
                    <label>Websites</label>
                    <comment>Websites in which assumed as Salesman checkout</comment>
                    <source_model>Magento\Config\Model\Config\Source\Website</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
